body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: rgb(18, 18, 203);
}

header h2 {
    color: rgb(202, 202, 219);
}

footer {
    background-image: linear-gradient(grey, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, blue, rgb(131, 65, 211), purple) ;
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min height: 200px;
}

.navbar{
    background-color: rgb(176, 117, 231);
}